[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
coverage = "*"
"flake8" = "*"
faker = "*"

[packages]
flask = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
flask-moment = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-login = "*"
flask-debugtoolbar = "*"
gunicorn = "*"
"psycopg2" = "*"
flask-migrate = "*"
pymysql = "*"
flask-script = "*"
flask-ckeditor = "*"
